<nav class="navbar navbar-default">
 
    <ul class="nav navbar-nav">
      <li ><a href="#">User Info</a></li>
    </ul>
	<div>
	
	
	</div>
	
	<div  >
		<ul class="nav navbar-nav"  >
			<li><a href="#" class="text-center" style="margin-left:600px;"  >Break Point Options</a></li> 
			
		</ul>
	</div>
	
	<div style="float:right">
		<ul class="nav navbar-nav">
			<li><a href="#" >Jira</a></li>	
			<li><a href="#" >Notification</a></li>
			<li><app-popup></app-popup></li>	
		</ul>
	</div>
	  
</nav>


<div class="col-md-12">
<iframe src="https://www.fiat.it/" style="height:500px;width:1500px;z-index:2000;"></iframe>

</div >
<br><br><br>


<div >
	<button class="btn btn-primary "  style="float:right;">Chat Bot</button>

</div>


